.navbar-use {
  position: relative !important;
  padding: 2rem 1rem !important;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -240px !important;
  /* 50% of your logo width */
  display: block;
}